<!DOCTYPE html>
<html lang="en">
  <head>
    <title>საქართველოს ბანკი</title>

    <!-- vendor css -->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="../css/bracket.css">
    <link rel="stylesheet" href="bog.css">
  </head>

  <body class="bogBodyBg">



    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-subleft t--0 bogBg">
      <h6 class="tx-uppercase tx-10 tx-mont tx-spacing-1 mg-t-10 pd-x-10 tx-white-7 bogBgTxt">ფილტრი</h6>

      <div class="mg-t-20 pd-x-10 mg-b-40">
        <div class="form-group">
          <input type="text" class="form-control form-control-inverse tx-13 boginput" placeholder=" მომხმარებლის სახელი">
        </div><!-- form-group -->
        <div class="form-group">
          <input type="text" class="form-control form-control-inverse tx-13 boginput" placeholder=" მომხმარებლის ID">
        </div><!-- form-group -->
        <button class="btn btn-info btn-block tx-uppercase tx-10 tx-mont tx-spacing-2 tx-medium bogBtn">გაფილტვრა</button>
      </div>

      <h6 class="tx-uppercase tx-10 tx-mont tx-spacing-1 mg-t-10 pd-x-10 tx-white-7 bogBgTxt">კლიენტები</h6>

      <nav class="nav br-nav-mailbox flex-column">
        <a href="" class="nav-link bogGroups"><i class="icon ion-person-stalker tx-16-force"></i> საცალო </a>
        <a href="" class="nav-link bogGroups"><i class="icon ion-person-stalker tx-16-force"></i> პროფესიული </a>
        <a href="" class="nav-link bogGroups"><i class="icon ion-person-stalker tx-16-force"></i> კონტრაქტორები</a>
        <!-- <a href="" class="nav-link bogGroups"><i class="icon ion-person-stalker tx-16-force"></i> Others</a> -->
      </nav>
    </div><!-- br-subleft -->

    <div class="br-contentpanel mg-t-0">


      <div class="br-pagetitle">
        <i class="icon ion-ios-people"></i>
        <div>
          <h4 class="bogFonts">მომხმარებლები</h4>
        </div>
      </div><!-- d-flex -->

      <div class="d-flex align-items-center justify-content-start pd-x-20 pd-sm-x-30 pd-t-25 mg-b-20 mg-sm-b-30">

        <button id="showSubLeft" class="btn btn-secondary mg-r-10 hidden-lg-up"><i class="fa fa-navicon"></i></button>

        <!-- START: DISPLAYED FOR MOBILE ONLY -->
        <div class="dropdown hidden-sm-up">
          <a href="#" class="btn btn-outline-secondary" data-toggle="dropdown"><i class="icon ion-more"></i></a>
          <div class="dropdown-menu pd-10">
            <nav class="nav nav-style-1 flex-column">
              <a href="" class="nav-link">Share</a>
              <a href="" class="nav-link">Download</a>
              <div class="dropdown-divider"></div>
              <a href="" class="nav-link">Edit</a>
              <a href="" class="nav-link">Delete</a>
            </nav>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
        <!-- END: DISPLAYED FOR MOBILE ONLY -->

        <!-- <div class="btn-group hidden-xs-down">
          <a href="#" class="btn btn-outline-info"><i class="fa fa-th"></i></a>
          <a href="#" class="btn btn-outline-info active"><i class="fa fa-th-list"></i></a>
        </div> -->
 
        <!-- <div class="mg-l-auto hidden-xs-down">
          <a href="#" class="btn btn-info">New Contact</a>
          <a href="#" class="btn btn-outline-info mg-l-5">Add to Group</a>
        </div> -->

      </div><!-- d-flex -->

      <div class="br-pagebody pd-x-20 pd-sm-x-30">
        <div class="card bd-0 shadow-base">
          <table class="table mg-b-0 table-contact">
            <thead>
              <tr>
                <th class="wd-5p">
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </th>
                <th class="tx-10-force tx-mont tx-medium">სახელი / ელ.ფოსტა</th>
                <th class="tx-10-force tx-mont tx-medium hidden-xs-down">ნომერი</th>
                <th class="tx-10-force tx-mont tx-medium hidden-xs-down">ბალანსი(₾)</th>
                <th class="tx-10-force tx-mont tx-medium hidden-xs-down">ბალანსი($)</th>
                <th class="tx-10-force tx-mont tx-medium hidden-xs-down">ბალანსი(€)</th>
                
                <th class="wd-5p hidden-xs-down"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="valign-middle">
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="./manager.svg" class="wd-40 rounded-circle" alt="">
                    <div class="mg-l-15">
                      <div class="tx-inverse">გიორგი გიორგაძე</div>
                      <span class="tx-12">mail@gmail.com</span>
                    </div>
                  </div>
                </td>
                <td class="valign-middle hidden-xs-down">+995 512 34 56 789</td>
                <td class="valign-middle hidden-xs-down">
                    <div>
                        <div class="tx-inverse">GE48BG0000000141365709</div>
                        <span class="tx-12">23,000 ₾</span>

                    </div>
                </td>
                <td class="valign-middle hidden-xs-down">
                    <div>
                        <div class="tx-inverse">GE48BG0000000141365709</div>
                        <span class="tx-12">23,000 $</span>
                    </div>
                </td>
                <td class="valign-middle hidden-xs-down">
                    <div>
                        <div class="tx-inverse">GE48BG0000000141365709</div>
                        <span class="tx-12">23,000 €</span>
                    </div>
                </td>
                <td class="dropdown hidden-xs-down">
                  <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
                  <div class="dropdown-menu dropdown-menu-right pd-10">
                        <nav class="nav nav-style-1 flex-column">
                            <a href="" class="nav-link"><i class="icon ion-information-circled tx-16-force"></i>ინფო</a>
                            <a href="" class="nav-link"><i class="icon ion-android-mail tx-16-force"></i>მიწერა</a>
                            <a href="" class="nav-link"><i class="icon ion-locked tx-16-force"></i>დაბლოკვა</a>
                        </nav>
                  </div><!-- dropdown-menu -->
                </td>
              </tr>
              
              <tr>
                <td class="valign-middle">
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>
                        
                  <div class="d-flex align-items-center">
                    <img src="./businesswoman.svg" class="wd-40 rounded-circle" alt="">
                    <div class="mg-l-15">
                      <div class="tx-inverse">ანანო თოდაძე</div>
                      <span class="tx-12">brandonTodaze@gmail.com</span>
                    </div>
                  </div>
                </td>
                <td class="valign-middle hidden-xs-down">+995 512 34 56 79</td>
                <td class="valign-middle hidden-xs-down">
                    <div>
                        <div class="tx-inverse">GE48BG0000000141365709</div>
                        <span class="tx-12">23,000 ₾</span>
                    </div>
                </td>
                <td class="valign-middle hidden-xs-down">
                    <div>
                        <div class="tx-inverse">GE48BG0000000141365709</div>
                        <span class="tx-12">23,000 $</span>
                    </div>
                </td>
                <td class="valign-middle hidden-xs-down">
                    <div>
                        <div class="tx-inverse">GE48BG0000000141365709</div>
                        <span class="tx-12">23,000 €</span>
                    </div>
                </td>
                <td class="dropdown hidden-xs-down">
                  <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
                  <div class="dropdown-menu dropdown-menu-right pd-10">
                    <nav class="nav nav-style-1 flex-column">
                      <a href="" class="nav-link"><i class="icon ion-information-circled tx-16-force"></i>ინფო</a>
                      <a href="" class="nav-link"><i class="icon ion-android-mail tx-16-force"></i>მიწერა</a>
                      <a href="" class="nav-link"><i class="icon ion-locked tx-16-force"></i>დაბლოკვა</a>
                    </nav>
                  </div><!-- dropdown-menu -->
                </td>
              </tr>
              <tr>
                    <td class="valign-middle">
                      <label class="ckbox mg-b-0">
                        <input type="checkbox"><span></span>
                      </label>
                    </td>
                    <td>
                            
                      <div class="d-flex align-items-center">
                        <img src="./briefcase.svg" class="wd-40 rounded-circle" alt="">
                        <div class="mg-l-15">
                          <div class="tx-inverse"> შპს თარგეთ პრომოუშენი</div>
                          <span class="tx-12">ceotpmo@gmail.com</span>
                        </div>
                      </div>
                    </td>
                    <td class="valign-middle hidden-xs-down">+995 322 34 56 79</td>
                    <td class="valign-middle hidden-xs-down">
                        <div>
                            <div class="tx-inverse">GE48BG0000000141365709</div>
                            <span class="tx-12">23,000 ₾</span>
                        </div>
                    </td>
                    <td class="valign-middle hidden-xs-down">
                        <div>
                            <div class="tx-inverse">GE48BG0000000141365709</div>
                            <span class="tx-12">23,000 $</span>
                        </div>
                    </td>
                    <td class="valign-middle hidden-xs-down">
                        <div>
                            <div class="tx-inverse">GE48BG0000000141365709</div>
                            <span class="tx-12">23,000 €</span>
                        </div>
                    </td>
                    <td class="dropdown hidden-xs-down">
                      <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
                      <div class="dropdown-menu dropdown-menu-right pd-10">
                        <nav class="nav nav-style-1 flex-column">
                          <a href="" class="nav-link"><i class="icon ion-information-circled tx-16-force"></i>ინფო</a>
                          <a href="" class="nav-link"><i class="icon ion-android-mail tx-16-force"></i>მიწერა</a>
                          <a href="" class="nav-link"><i class="icon ion-locked tx-16-force"></i>დაბლოკვა</a>
                        </nav>
                      </div><!-- dropdown-menu -->
                    </td>
                  </tr>
            </tbody>
          </table>
        </div>
      </div><!-- br-pagebody -->
      <!-- <footer class="br-footer">
        <div class="footer-left">
          <div class="mg-b-2">Copyright &copy; 2017. Bracket Plus. All Rights Reserved.</div>
          <div>Attentively and carefully made by ThemePixels.</div>
        </div>
        <div class="footer-right d-flex align-items-center">
          <span class="tx-uppercase mg-r-10">Share:</span>
          <a target="_blank" class="pd-x-5" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//themepixels.me/bracketplus/intro"><i class="fa fa-facebook tx-20"></i></a>
          <a target="_blank" class="pd-x-5" href="https://twitter.com/home?status=Bracket%20Plus,%20your%20best%20choice%20for%20premium%20quality%20admin%20template%20from%20Bootstrap.%20Get%20it%20now%20at%20http%3A//themepixels.me/bracketplus/intro"><i class="fa fa-twitter tx-20"></i></a>
        </div>
      </footer> -->
    </div><!-- br-contentpanel -->



    <!-- ########## END: MAIN PANEL ########## -->

    <script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/popper.js/popper.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../lib/moment/moment.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="../lib/peity/jquery.peity.js"></script>

    <script src="../js/bracket.js"></script>
    <script>
      $(function(){
        'use strict';

        // show only the icons and hide left menu label by default
        $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');

        $(document).on('mouseover', function(e){
          e.stopPropagation();
          if($('body').hasClass('collapsed-menu')) {
            var targ = $(e.target).closest('.br-sideleft').length;
            if(targ) {
              $('body').addClass('expand-menu');

              // show current shown sub menu that was hidden from collapsed
              $('.show-sub + .br-menu-sub').slideDown();

              var menuText = $('.menu-item-label,.menu-item-arrow');
              menuText.removeClass('d-lg-none');
              menuText.removeClass('op-lg-0-force');

            } else {
              $('body').removeClass('expand-menu');

              // hide current shown menu
              $('.show-sub + .br-menu-sub').slideUp();

              var menuText = $('.menu-item-label,.menu-item-arrow');
              menuText.addClass('op-lg-0-force');
              menuText.addClass('d-lg-none');
            }
          }
        });

        // Showing sub left menu
        $('#showSubLeft').on('click', function(){
          if($('body').hasClass('show-subleft')) {
            $('body').removeClass('show-subleft');
          } else {
            $('body').addClass('show-subleft');
          }
        });

      });
    </script>
  </body>
</html>
