
 
#datatable1 .sorting_1 {
    height: 70px !important;
    width: 70px !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
#datatable1 td .btn{
    cursor: pointer;
}
.deleted_success{
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 100;
    display: none;
}
.deleted_success.show{
    display: block;
}

