* {
    font-family: "tatishvili metal" !important;
}
main .sinble_blocks .singleBlock .singleHeader p{
    font-family:'BPG Ingiri Arial' !important;
    font-size: 16px;
}

main .about-us .about_us_inner .about_slider .about_slider_objs .aboutSliderText{
    font-family: 'BPG Ingiri Arial' !important;
}